$primary: #1d3557;
@import "./scss/bootstrap";
@import "./scss/auth";
@import "./scss/products";
@import "./scss/screenLoader";
@import "./scss/libraries";

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.card-center {
    min-height: calc(100vh - 128px);
    display: flex;
    justify-content: center;
    align-items: center;
    & .card{
        border: none;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

.custom-disabled-button:disabled {
    background-color: #1677ff !important; /* Change background color */
    color: #fff !important; /* Change text color */
    // border-color: #bfbfbf !important; /* Change border color */
    opacity: 1 !important; /* Override default opacity */
  }